
/* Desktop view */
@media (min-width: 960px){
  section {
    display:table;
  }

  div {
    margin: 0;
  }

  #alpha{
    margin-top: 20px;
    width: 960px;
    height: 100px;
    line-height: 100px;
  }
  
  #bravo{
    width: 200px;
    height: 600px;
    line-height: 600px;
    float: left;
  }
  
  #charlie{
    width: 380px;
    height: 200px;
    line-height: 200px;
    float: left;
  }
  
  #delta{
    width: 380px;
    height: 200px;
    line-height: 200px;
    float: left;
  }
  
  #echo{
    display: inline-block;
    width: 190px;
    height: 250px;
    line-height: 250px;
    float: left;
  }
  
  #foxtrot{
    display: inline-block;
    width: 190px;
    height: 250px;
    line-height: 250px;
    float: left;
  }
  
  #golf{
    display: inline-block;
    width: 190px;
    height: 250px;
    line-height: 250px;
    float: left;
  }
  
  #hotel{
    display: inline-block;
    width: 190px;
    height: 250px;
    line-height: 250px;
    float: left;
  }
  
  #india{
    width: 760px;
    height: 150px;
    line-height: 150px;
    margin-bottom: 20px;
    float: left;
  }

}


/* Tablet view */
@media (max-width: 768px) {
  section {
    overflow: auto;
    margin: 0 auto;
    display: table;
  }

  div {
    margin: 0;
    text-align: center;
  }

  #alpha{
    margin-top: 20px;
    width: 480px;
    height: 75px;
    line-height: 75px;
  }

  #bravo{
    width: 480px;
    height: 150px;
    line-height: 150px;
  }

  #charlie{
    width: 480px;
    height: 125px;
    line-height: 125px;
  }

  #delta{
    width: 480px;
    height: 125px;
    line-height: 125px;
  }

  #echo{
    display: inline-block;
    width: 240px;
    height: 250px;
    line-height: 250px;
  }

  #foxtrot{
    display: inline-block;
    width: 240px;
    height: 250px;
    line-height: 250px;
  }

  #golf{
    display: inline-block;
    width: 240px;
    height: 250px;
    line-height: 250px;
  }

  #hotel{
    display: inline-block;
    width: 240px;
    height: 250px;
    line-height: 250px;
  }

  #india{
    width: 480px;
    height: 80px;
    line-height: 80px;
    margin-bottom: 20px;
  }
}

/* Mobile view */

section {
  overflow: auto;
  margin: 0 auto;
  display: table;
}

div {
  margin: 0;
  text-align: center;
}

#alpha{
  margin-top: 20px;
  width: 480px;
  height: 75px;
  line-height: 75px;
}

#bravo{
  width: 480px;
  height: 150px;
  line-height: 150px;
}

#charlie{
  width: 480px;
  height: 125px;
  line-height: 125px;
}

#delta{
  width: 480px;
  height: 125px;
  line-height: 125px;
}

#echo{
  display: inline-block;
  width: 240px;
  height: 250px;
  line-height: 250px;
}

#foxtrot{
  display: inline-block;
  width: 240px;
  height: 250px;
  line-height: 250px;
}

#golf{
  display: inline-block;
  width: 240px;
  height: 250px;
  line-height: 250px;
}

#hotel{
  display: inline-block;
  width: 240px;
  height: 250px;
  line-height: 250px;
}

#india{
  width: 480px;
  height: 80px;
  line-height: 80px;
  margin-bottom: 20px;
}

